<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{drinkDetail.strDrink}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Portfolio Item Row -->
                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid" src="{{ drinkDetail.strDrinkThumb }}" alt="">
                    </div>

                    <div class="col-md-4">
                        <p>{{ drinkDetail.strInstructions }}</p>
                        <h3 class="my-3">Drink Ingredients</h3>
                        <ul>
                            <li>{{ drinkDetail.strIngredient1 }}</li>
                            <li>{{ drinkDetail.strIngredient2 }}</li>
                            <li>{{ drinkDetail.strIngredient3 }}</li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDrink()">Close</button>
            </div>

        </div>
    </div>
</div>